version: '3.8'

services:
  backend:
    image: asura0009/backend:latest
    container_name: backend
    restart: always
    expose:
      - "8080"

  frontend:
    image: asura0009/frontend:latest
    container_name: frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend
