version: '3'

services:
  mongo:
    image: mongo
    restart: always

  backend:
    image: asura0009/backend
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - mongo

  frontend:
    image: asura0009/frontend
    restart: always
    ports:
      - "3000:80"
